---
import Layout from '../layouts/Layout.astro'
import HeaderMin from '../components/Header/HeaderMin.astro'

const pageData = {
  page_path: 'works',
  description: 'Привет! Я - веб-разработчик и дизайнер, занимаюсь созданием креативных и функциональных веб-сайтов. Мои проекты сочетают в себе уникальный дизайн и высокую производительность, чтобы помочь вашему бизнесу выделиться в онлайн-мире. Посмотрите мое портфолио, чтобы узнать больше о моих навыках и достижениях в веб-разработке и дизайне. Я являюсь фрилансером с более 3 годами опыта работы.',
}

import {cardsStyle} from '../components/index/ProjectsCards.astro'
import TextMono from '../components/UI/TextMono.astro'

const classes = '!h-[100svh] h-[100vh]'

const links = {
  telegram: {
    title: 'Телеграм',
    href: 'https://t.me/bozzhik',
  },
  vkontakte: {
    title: 'ВКонтакте',
    href: 'https://vk.com/bozzhik',
  },
  email: {
    title: 'bozzhik@ya.ru',
    href: 'mailto:bozzhik@ya.ru',
  },
  tel: {
    title: '+7 (995) 120-03-13',
    href: 'tel:+79951200313',
  },
}
---

<Layout page_path={pageData.page_path} description={pageData.description}>
  <HeaderMin />

  <section class="inset-0 flex flex-col justify-center w-1/4 mx-auto text-center sm:w-[70%]" class:list={classes}>
    <TextMono transition="hero_text" content="Связаться со мной" classes="lg:w-4/5 text-purple-400 mx-auto leading-[110%] sm:text-xl mt-0 text-gray-500" />
    <div class="flex flex-col gap-5 mt-10 sm:gap-5">
      {
        Object.entries(links).map(
          ([key, value]) =>
            value.href && (
              <a data-card class="relative flex flex-row items-center justify-between overflow-hidden duration-500 sm:flex-col group hover:scale-105 rounded-xl" class:list={cardsStyle} href={value.href} target="_blank">
                <div class="z-10 w-full p-5 text-center">
                  <TextMono content={value.title} classes="lg:w-4/5 sm:w-auto mx-auto sm:text-xl leading-[110%] mt-0" />
                </div>
                <img class="absolute inset-0" src="/card_default.png" alt={value.title} />
              </a>
            ),
        )
      }
    </div>
  </section>
</Layout>
