---
import {ViewTransitions} from 'astro:transitions'
import {getLangFromUrl} from '../i18n/utils'

import BackgroundStars from '../components/BackgroundStars.astro'
import Fonts from './Fonts.astro'
import Analytics from './Analytics.astro'

interface Props {
  page_name?: string
  description: string
  page_path?: string
  keywords?: string
}

const {page_name = '', description, page_path = '', keywords} = Astro.props

const siteName = 'BOZZHIK'

const lang = getLangFromUrl(Astro.url)
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=DM+Mono:normal" rel="stylesheet" />
    <meta name="generator" content={Astro.generator} />

    <title>{siteName + page_name}</title>
    <meta name="title" content={siteName + page_name} />
    <meta name="description" content={description} />
    <meta name="keywords" content=`bozzhik, создание сайта цена, создание сайта ключ цена, создание сайтов москва цены, разработка сайта цена, разработка сайта стоимость, разработка сайта под ключ, ключ разработка сайта цена, разработка сайта под ключ цена, создание сайта +под ключ, создание сайта +под ключ цена, заказать разработку сайт, портфолио разработчика сайт, найти разработчика сайтов, заказать создание сайта ${keywords}` />
    <meta name="robots" content="index, follow" />
    <meta name="author" content={siteName} />

    <meta property="og:type" content="website" />
    <meta property="og:url" content=`https://bozzhik.ru/${page_path}` />
    <meta property="og:title" content={siteName + page_name} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/seo.png" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content=`https://bozzhik.ru/${page_path}` />
    <meta property="og:title" content={siteName + page_name} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content="/seo.png" />
    <ViewTransitions />
  </head>
  <body class="text-white bg-black font-grotesque">
    <BackgroundStars />
    <slot />
    <Fonts />
    <Analytics />
    <style is:global>
      [data-card] {
        background: linear-gradient(125deg, rgba(157, 157, 158, 0.1) 29%, rgba(17, 18, 27, 0) 100%);
      }
    </style>
  </body>
</html>
